@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Robot',sans-serif;
    background-color: #ededed;
}
.up{
    position: fixed;
    z-index: -1;
    height: 127px;
    width: 100vw;
    background-color:#009688 ;
}
.container{
    position: relative;
    top: 10px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 5px 0px 10px grey;
    height: calc(100vh - 20px);
}
@media screen and (max-width:1000px) {
    .container{
    width: 100%;
    top: 0;
}
}
@media screen and (max-width:500px) {
    .chatUtent> .chatUtent-prevue,.chatUtent>  .chatUtent-features, .sideLeft .notify>div, .search_input>input, .sideLeft .navInside_right{
        display: none;
    }
    .sfondo, .sideRight{
        flex:1;
    }
    .sideLeft{
        flex: none !important;
    }
    .sideLeft .navInside,.sideLeft .search_input {
        justify-content: center;
    }
}


.sideLeft{
    flex:1.4;
    background-color: grey;
}
.sideRight{
    flex:2;
    position: relative;
}
.navInside{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: #ededed;
    height:50px ;
}
.navInside *{
    display: flex;
    align-items:center ;
    padding: 5px;
    
}
.navInside img{
    max-height: 50px;
}
.navInside i{
    color: #919191;
    cursor: pointer;
}
.navInside_right i{
    margin: 12px;
}
.sideRight .navInside, .textChat{
    border-left:1px solid #dddddd;
}
.notify{
    display: flex;
    background-color: #9de1fe;
    height: 80px;
    padding: 5px;
    cursor: pointer;
}
.notify>i{
    display: flex;
    justify-content: center;
    color:#9de1fe ;
    margin:10px;
    background-color: white;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    align-items: center;
}
.notify>div{
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
        font-size: 0.9rem;

}
.notify>div span:nth-child(2){
    font-size: 0.6rem;
    color: #666666;
    margin-top: 3px;
}
.search{
    height: 50px;
    background-color: #ededed;
    padding: 5px 10px;
}
.search_input{
    display: flex;
    background-color: white;
    border-radius: 25px;
    height: 100%;
}
.search_input>*{
    align-self: center;
    padding: 0 5px;
    color:#919191;

}
.search_input input{
    flex:1;
    border:none;
}
.search_input input:focus{
 outline:none
}
.chatList{
    background-color:white ;
    height: calc(100% - 180px);
    overflow-y: auto;
}
.textChat{
    position: relative;
    display: flex;
    height: 50px;
    background-color: #ededed;
}
.textChat i{
    cursor: pointer;
}
.textChat>*{
    align-self: center;
    padding:10px;
    color:#919191;
}
.textChat>input{
    flex:1;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding:0 15px ;
}
.mainChat{
    position: relative;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/sfondo-chat.png);
    background-size: contain;
    align-items: flex-end;
    overflow-y: auto;
}
.chatUtent{
    display: flex;
    cursor: pointer;
}
.chatUtent-features, .chatUtent-prevue{
    padding: 10px 5px;
}
.chatUtent_img{
    margin: 0 auto;
    align-self: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circleImg{
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
    width: 40px;
}
.chatUtent:hover,.chatUtent:focus{
    background-color: #ededed;
}
.chatUtent-prevue{
    flex: 1;
    border-bottom: 1px solid #ededed;
}
.chatUtent-prevue span:nth-child(2){
    color: #666666 ;
}
.chatUtent-features, .chatUtent-prevue {
    display: flex;
    flex-direction: column;
}
.chatUtent-features{
    border-bottom: 1px solid #ededed;
    text-align: right;
    color: #666666 ;
    font-size: 0.8rem;

}
.chat {
    position: relative;
    display: flex;
    position: relative;
    margin: 20px;
    padding: 0.8em;
    max-width: 80%;
    word-break: break-word;
    cursor: pointer;
}
.sent{
    border-radius: 1em 0 1em 1em;
    background-color: #dcf8c6;
}
.received:last-of-type, .sent:last-of-type{
    margin-bottom: 30px;
}
.received{
    background-color: white;
    border-radius: 0em 1em 1em 1em;
    align-self: flex-start;
}
.sent .chat_text i{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-36%);
    color: #dcf8c6;
    font-size: 2.5rem;
}
.received .chat_text i{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-36%);
    color: white;
    font-size: 2.5rem;


}
.chat .chatData{
    
    padding-left: 10px;
    color: #87987a;
    font-size: 0.7em;
    align-self: flex-end;

}
.chat .chat_text{
    flex: 9;
}

.sfondo{ 
    position: relative;
    flex: 1.3;
    background-color:#f8f9fa ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #888989;
    padding: 0 10%;
    text-align: center;
    border-bottom:#4adf83 10px solid ;
}
.sfondo> *{
    padding: 20px 0;
}
.sfondo> img{
    max-width: 80%;
}
.sfondo .title{
    color:#525252 ;
    font-size: 38px;
    font-weight: 300;
}
.sfondo span:nth-child(3){
    font-size: 14px;
    border-bottom: 1px solid #525252;
}
.sfondo a{
    text-decoration: none;
    color:#07bc4c;
}
.contextMenu-css{
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: white;
    border-radius: 1em 1em 0 1em;
}
.contextMenu-css li{
    list-style: none;
    color:#9999;
    padding: 0.5rem;
}
.contextMenu-css li a {
    padding: 0.5rem;
   
   text-decoration: none;
}


