@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Robot',sans-serif;
    background-color: #ededed;
}
.up{
    position: fixed;
    z-index: -1;
    height: 127px;
    width: 100vw;
    background-color:#009688 ;
}
.container{
    position: relative;
    top: 10px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 5px 0px 10px grey;
    height: calc(100vh - 20px);
}
.sideLeft{
    flex:1;
    background-color: grey;
    border-right:1px solid #919191;
}
.sideRight{
    flex:2;
    position: relative;
}
.navInside{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: #ededed;
    height:50px ;
}
.navInside *{
    display: flex;
    align-items:center ;
    padding: 5px;
    
}
.navInside img{
    max-height: 50px;
}
.navInside i{
    color: #919191;
}
.notify{
    display: flex;
    background-color: #9de1fe;
    min-height: 60px;
    padding: 5px;
    
}
.notify>i{
    display: flex;
    justify-content: center;
    color:#9de1fe ;
    margin:10px;
    background-color: white;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    align-items: center;
}
.notify>div{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.search{
    height: 50px;
    background-color: #ededed;
    padding: 5px 10px;
}
.search_input{
    display: flex;
    background-color: white;
    border-radius: 25px;
    height: 100%;
}
.search_input>*{
    align-self: center;
    padding: 0 5px;
    color:#919191;

}
.search_input input{
    flex:1;
    border:none;
}
.search_input input:focus{
 outline:none
}
.chatList{
    background-color:white ;
    height: calc(100% - 180px);
}
.textChat{
    position: relative;
    display: flex;
    height: 50px;
    background-color: #ededed;
}
.textChat>*{
    align-self: center;
    padding:5px;
    color:#919191;
}
.textChat>input{
    flex:1;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding:0 15px ;
}
.mainChat{
    position: relative;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/sfondo-chat.png);
    background-size: contain;
}
.chatUtent{
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}
.chatUtent_img{
    align-self: center;
    width: 50px;
    height: 50px;
}
.circleImg{
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}
.chatUtent:hover,.chatUtent:active{
    background-color: #ededed;
}
.chatUtent-prevue{
    flex: 1;
}
.chatUtent-features, .chatUtent-prevue {
    display: flex;
    flex-direction: column;
    
}
.chat {
    display: flex;
    background-color: white;

    margin: 10px;
    padding: 0.8em;
}
.chatSent{
    border-radius: 2em 0 2em 2em;
    position: relative;
    left:15%;
    text-align: right;
    background-color: #dcf8c6;

}
