<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
    <title>Boolzapp</title>
</head>
<body :class="darkModeTogle?'light':'dark'">
    <!-- @click="contextMenuChatRemove" -->
    <div id="app" @click="contextMenuChatRemove(activeMessage)" >
        <div class="up" :class="darkModeTogle?'light':'dark'"></div>
        <div class="container" :class="darkModeTogle?'light':'dark'">
            <div class="sideLeft">
                <div class="navInside">
                    <div class="navInside_left">
                        <img src="img/1.png" alt="">
                    </div>
                    <div class="navInside_right">
                        <i class="fas fa-moon" @click="darkMode"></i>
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notify" v-if="!activeBellStatus" @click='activeBell' >
                    <i class="fas fa-bell-slash" ></i>
                    <div>
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span>Attiva notifiche desktop <i class="fas fa-chevron-right"></i></span>
                    </div>
                </div>
                <div class="search">
                    <div class="search_input" >
                        <i class="fas fa-search" v-if="search==''"></i>
                        <i v-else class="fas fa-arrow-left " ></i>
                        <input type="text" name="" id="" placeholder="Cerca o inizia una nuova chat" v-model="search">
                    </div>    
                </div>
                <div v-if="" class="chatList">
                    <div 
                    class="chatUtent" 
                    v-if="elem.name.toLowerCase().includes(search.toLowerCase()) " 
                    v-for="(elem,index) in contacts" 
                    @click="insertHeaderRight(index)"
                    @click.right="soundTogle(index)">
                        <div class="chatUtent_img" >
                            <img class="circleImg" :src="elem.avatar" >
                        </div>
                        <div class="chatUtent-prevue">
                            <span class="name">{{elem.name}}</span>
                            <span>{{elem.messages[0].text.substring(0,40)}}<span v-if="elem.messages[0].text.length>40"> ...</span></span>
                        </div>
                        <div class="chatUtent-features">
                            <span>{{elem.messages[0].date.substring(elem.messages[0].date.length-8,elem.messages[0].date.length-3)}}</span>
                            <span><i v-if="elem.sound" class="fas fa-volume-mute"></i></span>
                        </div>
                    </div>
                    <!-- v-if=(prova==contacts.length) -->
                    <!-- <div v-else>{{prova= prova + 1}}</div> -->
                </div>
            </div>
            <div v-if="activeChat>=0" class="sideRight">
                <div class="navInside">
                    <div class="navInside_left">
                        <img :src="contacts[activeChat].avatar" class="circleImg">                 
                        <span>{{ contacts[activeChat].name }}</span>
                    </div>
                    <div class="navInside_right">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="mainChat"  >
                     <!-- v-bind:class="{{{elem.status}}=='received'?[recive]:[sent]}" -->
                     <span  
                     @click.right="addBooleanOnContact(index)"
                     :class="elem.status" 
                     v-for="(elem,index) in contacts[activeChat].messages"
                     class="chat">
                    <div class="contextMenu-css" v-if="contacts[activeChat].messages[activeMessage].contextMenu">
                      <ul>
                          <li>Message info</li>
                          <li @click="delateMessage(index)"> Delate Message</li>
                      </ul>
                     </div>

                        <span class="chat_text">
                            <i class="fas fa-caret-down"></i>
                            {{elem.text}} 
                        </span>
                        <span class="chatData">{{elem.date.substring(elem.date.length-8,elem.date.length-3)}}
                            <img class='colorCheckBlue' src="img/spunte.png" alt="">
                            <!-- <i class="fas fa-check"></i> -->
                        </span>
                    </span> 
                </div>
                <div class="textChat">
                    <i class="fas fa-grin"></i>
                    <i class="fas fa-paperclip"></i>
                    <input v-model="newMessage" type="text" v-on:keyUp.enter="addMessages(newMessage,'sent'),delayMessages('ok',newMessage)"
                    placeholder="Scrivi un messaggio">
                    <i class="fas fa-paper-plane" @click="addMessages(newMessage,'sent'),delayMessages"></i>
    
                </div>
            </div>
            <div v-else class="sfondo">
                <img v-if="darkModeTogle" src="img/123.png" >
                <img v-else src="img/smartphone-dark.png" >
                <span class="title">Mantiene il telefono connesso</span>
                <span>WhatsApp si collega al tuo telefono per sincronizzare i messaggi. Per ridurre l'utilizzo dei dati, collega il telefono al Wi-Fi.</span>
                <div><i class="fas fa-desktop"></i>
                Whatsapp è disponibile per Windows. 
                <a href="">
                    Scaricala qui  
                </a>
            </div>
            </div>
        </div>

    </div>
</body>
</html>